
@media all and (max-width:1400px){
    .hero-content-text h1{
        font-size: 25px;
    }

    .hero-carton img{
        width: 180px;
    }

    .billbox-main{
        width: 100%;
        font-size: 10px;
    }
  .billbox-content{
 padding: 5px;
    
  }
  .billbox-content h2{
    font-size: 15px;

  }
  .billbox-content p{
    font-size: 5px;
    margin: 0;
  }

  .billbox-content i{
    padding-bottom: 5px;
  }

    .footer-item1{
        width: 100%;
        text-align: center;
        display: block;
    }
    .footer-item1 a{
       
       padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer-item2{
        width: 100%;
        margin-right: 100px;
        
    }
    .footer-item2 img{
        width: 120px;
    }
    .footer-item3 i{
        width: 100%;
        font-size: 15px;
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    .still-right h1{
        font-size: 20px;

    }
    .still-right {
        padding: 0 20px;

    }
    .still-img img{
        width: 200px;
    }
}